<html>
	<head>
		<title>Offbit</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script src="/static/jquery.min.js"></script>
		<script>

			function stopEverything()
			{
				var e = window.event;
				e.cancelBubble = true;
				if (e.stopPropagation) e.stopPropagation();
			}

			function removeSource(title)
			{
				stopEverything();
				if (confirm("Do you really want to remove the source " + title + " ?")) {
					var url = "/api/source/remove/" + title;
					$.post(url, function(result) {
						$("div[id='"+title+"'").hide('fast', function(){ $("div[id='"+title+"'").remove(); });
					});
				}
			}

			function addSource()
			{
				var target = $("#sourceName").val();
				var url = "/api/source/add?target=" + encodeURIComponent(target);
				$.post(url, function(result) {
					location.href="/edit/"+result
					//alert(result);
				});
			}
		</script>
	</head>

	<body>
		<div id="big_container">
			<div class="card options">
				<h1>Offbit</h1>
			</div>
			<div class="card middle">
				{{range .Sources}}
					<div class="element" onclick="location.href = '/view/{{.SaneTitle}}';" id="{{.Title}}">
						<a href="#"><img src="/static/delete.png" class="button" onclick="removeSource('{{.SaneTitle}}');" /></a>
						{{if .NewMessages}}
							<img src="/static/new.png" class="button" />
						{{end}}

						<a class="source_title" href="/view/{{.SaneTitle}}">{{.Title}}</a><br />
						<a href="{{.URL}}" class="source_url">{{.URL}}</a>
						<hr width="70%"/>
					</div>
				{{end}}
				<div id="newSource"></div>
				{{if le 2 (len .Sources)}}
					<div class="element" onclick="location.href = '/view/all';">
						{{if .NewMessages}}
							<a onclick="#"><img src="/static/new.png" class="button" /></a>
						{{end}}

						<span class="source_title">Combine all</span><br />
						<br />
						<hr width="70%"/>
					</div>
				{{end}}
				New source: <input width="70%" name="source" id="sourceName" />
				<input type="button" value="Add" onclick="addSource()" />
			</div>
			<div class="card options">
				<a href="/options">Options</a>
			</div>
		</div>
	</body>
</html>
