<html>
	<head>
		<title>Offbit</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script src="/static/jquery.min.js"></script>
		<script>
			function saveSettings() {
				p = $("#refreshPeriod").val();
				$.post("/api/options", {refreshPeriod:p}, function(result) {
					alert("Saved!");
				});
			}

		</script>
	</head>

	<body>
		<div id="big_container">
			<div class="card options">
				<h1>Options</h1>
			</div>
			<div class="card back">
				<a href="/">Back to list</a>
			</div>
			<form>
			<div class="card middle">
				<table style="margin:auto;">
					<tr><td class="form_title">Refresh interval in minutes</td>
					<td><input id="refreshPeriod" size="3" value="{{.RefreshPeriod}}" /></td></tr>
				</table>
			</div>
			<div class="card options">
				<input type="reset" style="margin-right:20px;" /> <input type="button" value="Save" style="margin-left:20px;" onClick="saveSettings()" />
			</div>
			</form>
		</div>
	</body>
</html>
